* {
    box-sizing: border-box;
}
.container{
    width:100%;
}
.row {
  width: 100%;
  font-size: 16px;
  margin-top: -40px;
}

.heading{
    text-align: center;
    margin-top: 35px;
    font-size:28px;
}

.section{
    top:60px;
    position:relative;
}

p{
    margin-top:40px;
}

.border{
    border: 1px solid black;
    background-color: #eee;
    padding: 0px 10px 10px 10px;
}

.title{
    position: absolute;
    right:10px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    border-top: 0px;
    padding: 2px;
    font-size:20px;
}

.t1 {
    background-color: #cfeeee;
}

.t2 {
    background-color: #eecfcf;
}

.t3 {
    background-color: #f1bff7;
}

@media (min-width: 993px){

    .col-lg-4 {
      box-sizing: border-box;
      float: left;
      width: 33.33%;
      padding:10px;
      padding-bottom: 10px;
    }
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
    .col-md-6, .col-md-12 {
        float: left;
        padding:10px;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
    .row {
        margin-top: -60px;
    }
}

@media (max-width: 767px) {
    .container{
        width:90%;
        margin:0 auto;
    }
    .title{
        position: absolute;
        right:0px;
        border: 1px solid black;
        width: 100px;
        text-align: center;
        border-top: 0px;
    }
    .col-sm-12 {
      float: left;
      width: 100%;
      background-color: #eee;
      
      margin-bottom: 20px;
    }
    .row {
      margin-top: -75px;
    }
    
}

